:root {
    --light-purple: #D5CDFE;
    --light-blue: #CBE4FE;
    --light-yellow: #FAE8CC;
    --light-red: #FBC7C6;
    --light-green: #E5F3F6;
    --dark-purple: #7F76B2;
    --dark-blue: #175D9D;
    --dark-yellow: #CD820D;
    --dark-red: #D90026;
    --dark-green: #4C7264;
    --color-white: #ffff;
    --color-addTask: #BF1D19;
    --high-priority: #E16666;
    --medium-priority: #F09A66;
    --low-priority: #70CEAB;
    --highbg-priority: #FEEAEA;
    --mediumbg-priority: #FEF7EA;
    --lowbg-priority: #DDEDEC;
    --color-title: #0F579B;
    --color-text: #3F3D3D;
    --color-date: #83A9CF;
    --color-name: #457EB1;
    --light-grey: #D1D1D1;
    --color-publicbg: #C4CA80;
    --color-public: #5A5757;
    --color-privatebg: #eb711f;
    --color-private: #831515;
    --color-input: #F9F9FA;
    --padding: 1rem;
    --padding-xxs: calc((var(--padding)*0.5));
    --padding-xs: calc((var(--padding)*2)); 
    --padding-s: calc((var(--padding)*3)); 
    --padding-m: calc((var(--padding)*4)); 
    --padding-l: calc((var(--padding)*5));
    --padding-xl: calc((var(--padding)*6));
    --padding-xxl: calc((var(--padding)*7));
    --padding-xxxl: calc((var(--padding)*8));
    --margin: 1.6rem;
    --margin-xxs: calc((var(--margin)*0.6));
    --margin-xs: calc((var(--margin)*1.5)); 
    --margin-s: calc((var(--margin)*2)); 
    --margin-m: calc((var(--margin)*3)); 
    --margin-l: calc((var(--margin)*4));
    --border-radius: 2rem;
    --border-radius-xxs: calc((var(--margin)*0.2));
    --border-radius-xs: calc((var(--margin)*0.25));
}