:root{
    --light-orange: #ec6328;
    --color_white: #fff;
    --dark-purple: #7F76B2;
    --color-background: #faebd7;
    --color-border: #e1e0e0;
    --dark-orange: #ff6f32;
    --color-green: #35c768;
    --color-svg: #A0B0B9;
    --color-blue: #0c73fe;
    --light: #d5d6d6;
    --color-tooltip: #343434;
    --padding: 1rem;
    --padding-xxs: calc((var(--padding)*0.5));
    --padding-xs: calc((var(--padding)*2)); 
    --padding-s: calc((var(--padding)*3)); 
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: "Montserrat", sans-serif;
}
[class*=__button] {
    border-radius: .5rem;
    border: none;
    color: var(--color_white);
    font-size: 1.6rem;
    cursor: pointer;
}

body{
    background-color: var(--color-background);
}
.main{
    margin-top: 6.4rem;
}
.main__container{
    max-width: 100rem;
    margin: 0 auto;
}
.card{
    max-width: 70rem;
    margin: 0 auto;
    background-color: var(--color_white);
    border-radius: 2rem;
}
.card__container{
    padding: var(--padding-xs);
    display: flex;
}
.price{
    position: relative;
    padding-right: var(--padding-xs);
    border-right: .1rem solid var(--color-border);
}
.price__text{
    padding-top: var(--padding);
    font-weight: 600;
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 1.6rem;
}
.price__button{
    background-color: var(--dark-orange);
    padding: var(--padding) var(--padding-xs);
    transition: .3s;
}
.price__button:hover{
    background-color: var(--light-orange);
}
.price__label{
    position: absolute;
    color: var(--color_white);
    background-color: var(--color-green);
    border-radius: 1.5rem;
    font-size: 1.2rem;
    padding: var(--padding-xxs) var(--padding-xxs);
    top: -2.5rem;
}
.information{
    padding-left: var(--padding-xs);
    flex-grow: 5;
}
.information__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.information__button{
    display: flex;
    align-items: center;
    column-gap: .8rem;
}
.information__svg > svg {
    fill: var(--color-svg);
    transition: 0.3s;
}
.information__svg{
    transition: 0.3s;
}
.information__svg:hover > svg  {
    fill: var(--color-blue);
}
.information__fly{
    margin-top: 3.3rem;
}
.logo{
    display: flex;
    align-items: center;
    column-gap: .8rem;
}
.logo__img{
    width: 3.3rem;
    height: 3.2rem;
    border-radius: 100%;
}
.logo__name{
    color: rgb(11, 150, 212);
}
.fly{
    display: flex;
    align-items: center;
    column-gap: 3.3rem;
}
.fly:not(:last-child){
    padding-bottom: var(--padding-xs);
    border-bottom: .1rem solid var(--light);
}
.about__time{
    display: flex;
    align-items: center;
    column-gap: .8rem;
}
.about__svg{
    cursor: pointer;
}
.about__svg > svg{
    width: 2rem;
    height: 2rem;
    border: .1rem solid var(--color-svg);
    border-radius: 100%;
    padding: var(--padding-xxs);
    fill: var(--color-svg);
    transition: .3s;
}
.about__svg:hover > svg{
    fill: var(--color-blue);
    border-color: var(--color-blue);
    background-color: var(--light);
}

.about__title{
    font-weight: 400;
    font-size: 2.8rem;
}
.about__place{
    margin-top: 1.2rem;
}
.about__place,
.about__date{
    color: var(--color-svg);
    font-size: 1.2rem;
}
.about__date{
    margin-top: .4rem;
}
.path{
    display: flex;
    align-items: center;
    flex-grow: 10;
}
.path__time{
    font-size: 1.2rem;
    height: 3rem;
    color: var(--color-svg);
    text-align: center;
}
.stop{
    flex-grow: 50;
}
.way{
    height: .6rem;
    border-radius: .3rem;
    cursor: pointer;
    transition: .3s;
}
.end__way,
.start__way{
    background-color: var(--color-svg);
    border: .1rem solid var(--color-svg);
}
.end__way:hover,
.start__way:hover{
    border: .1rem solid var(--light-orange);
    background-color: var(--color_white);
}
.place{
    color: var(--color-blue);
    font-size: 1rem;
    margin-top: 2rem;
    cursor: pointer;
    transition: .3s;
}

.end__place{
    text-align: right;
}
.start__svg,
.end__svg{
    height: 3rem;
    cursor: pointer;
}
.start__svg:hover > svg,
.end__svg:hover > svg{
    fill: var(--light-orange);
}

.start__svg:hover ~ .start__place,
.end__svg:hover ~ .end__place{
    color: var(--light-orange);
}
.start__place:hover ~ .start__svg ,
.end__place:hover ~ .end__svg {
    background-color: var(--light-orange);
}
.start__svg{
    width: 5rem;
}
.end__svg{
    text-align: right;
}
.start__svg > svg{
    transform: rotate(-25deg);
    fill: var(--color-svg);
    transition: .3s;
}
.end__svg > svg{
    transform: rotate(25deg);
    fill: var(--color-svg);
    transition: .3s;
}
.stop__way > div{
    height: .1rem;
    margin: 0 .1rem;
    background-color: var(--color-svg);
    cursor: pointer;
    transition: .3s;
    margin-top: .4rem;
}
.stop__way:hover > div{
    background-color: var(--light-orange);
}
.place:hover{
    color: var(--light-orange);
}
.stop__way:hover + .stop__place{
    color: var(--light-orange);
}
.stop__place:hover + .stop__way{
    background-color: var(--light-orange);
}
.stop__place{
    text-align: center;
}
.tooltip {
    position: relative;
}
.tooltip .tooltiptext {
    width: 20rem;
    position: absolute;
    background-color: var(--color-tooltip);
    color: var(--color_white);
    text-align: center;
    font-size: 1rem;
    border-radius: 2px;
    padding: var(--padding) var(--padding-xxs);
    z-index: 1;
    opacity: 0;
    transition: opacity .6s;
    visibility: hidden;
    bottom: calc(100% + .7rem);
    left: 50%;
    margin-left: -10rem;
}

.tooltiptext::after{
    opacity: 0;
    visibility: hidden;
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -.5rem;
    border-width:.5rem;
    border-style: solid;
    border-color: var(--color-tooltip) transparent transparent transparent;
}
.tooltip:hover .tooltiptext {
    opacity: 1;
    visibility: visible;
}
.tooltip:hover .tooltiptext::after {
    opacity: 1;
    visibility: visible;
}
.tooltip .start__tooltiptext{
    margin-left: -11rem;
}
.tooltip .end__tooltiptext{
    margin-left: -10rem;

}
.w80{
    width: 8rem;
}
.w40{
    width: 4rem;
}