:root{
    --light-purple: #D5CDFE;
    --dark-purple: #7F76B2;
    --color-white: #ffff;
    --color-light: #ededed;
    --color-background: rgba(0, 0, 0, 0.3);
    --padding: 1rem;
    --padding-xxs: calc((var(--padding)*0.5));
    --padding-xs: calc((var(--padding)*2)); 
    --padding-s: calc((var(--padding)*3)); 
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

[class*=__button] {
    border-radius: .5rem;
    border: none;
    background-color: var(--dark-purple);
    color: var(--color-white);
    font-size: 1.6rem;
    padding: var(--padding-xxs) var(--padding-xs);
    cursor: pointer;
  }
  
.main{
    position: relative;
}
.main__content{
    max-width: 80rem;
    margin:  0 auto;
    padding-top: var(--padding-s);
}
.main__text{
    margin-bottom: 2.4rem;
}
.modal{
    position: absolute;
    background-color: var(--color-background);
    backdrop-filter: blur(.5rem);
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
}
.modal__title{
    padding-bottom: var(--padding);
    border-bottom: .1rem solid var(--color-light);
}
.modal__text{
    padding-bottom: var(--padding);
    border-bottom: .1rem solid var(--color-light);
}
.modal__container{
    position: relative;
    max-width: 30rem;
    background-color:  var(--color-white);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: var(--padding);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 1.6rem;
}
.modal__group-btns{
    margin-left: auto;

}
.modal__button_light{
    background-color: var(--light-purple);
}
.modal__cross{
    position: absolute;
    right: 1.5rem;
    font-size: 1.6rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
}